<html>
  <head>
    <style>
      h2 {
      border-bottom: 1px solid #cccccc;
      color: black;
      }
      table.downloads {
      white-space: nowrap;
      font-family: "Courier New", Courier, monospace;
      }

      table.downloads tr:nth-child(2n) {
      background: #F0F0F0;
      }

      table.downloads th {
      text-align: left;
      }

      table.downloads tr.newos td {
      padding-top: 10px;
      }
      table.downloads tr.newos th {
      padding-top: 10px;
      }

      body {
      font-family: sans-serif;
      padding-top: 1ex;
      padding-left: 1em;
      padding-right: 1em;
      font-family: Sans-Serif;
      }

      body > *:first-child {
      margin-top: 0 !important;
      }
      body > *:last-child {
      margin-bottom: 0 !important;
      }
      a {
      color: #4183C4;
      }
      a.absent {
      color: #cc0000;
      }
      a.anchor {
      display: block;
      padding-left: 30px;
      margin-left: -30px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      }

      h1, h2, h3, h4, h5, h6 {
      margin: 20px 0 10px;
      padding: 0;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      cursor: text;
      position: relative;
      }

      p, blockquote, ul, ol, dl, li, pre {
      margin: 10px 0;
      }

      hr {
      border: 0 none;
      color: #cccccc;
      height: 4px;
      padding: 0;
      }
    </style>
  </head>
  <body>


    <h1>PreTest - Available VM Downloads</h1>

    <p>
      PreTest's goal is to provide pre-built virtual-machine images of
      Free-Software POSIX-compliant operating systems, ready for testing
      autotools-based programs.
    </p>

    <p>
      Usage examples and more information at
      <a href="http://www.nongnu.org/pretest/">http://www.nongnu.org/pretest/</a>
    </p>

    <br/>

    <h2>Available VM Images</h2>

    <table class="downloads">
      <thead>
	<tr>
	  <th>OS</th>
	  <th>Image Type</th>
	  <th>Download</th>
	  <th>Download Size&nbsp;&nbsp;&nbsp;<br/><small>(xz, compressed)</small></th>
	  <th>Size<br/><small>(uncompressed)</small></th>
	</tr>
      </thead>

      <tbody>
	{% for id in vms | sort %}

	{% set data = vms[id] %}

	{% for i in data.images %}
	<tr class="{% if loop.index == 1 %}newos{% endif %}">
	  <th>
	    {% if loop.index == 1 %}
	    {{ data.name }}
	    {% endif %}
	  </th>
	  <td>{{ i.type }}</td>
	  <td><a href="{{ i.url }}">{{ i.url }}</a></td>
	  <td>{{ i.compressed_size }}</td>
	  <td>{{ i.open_size }}</td>
	</tr>
	{% endfor %}

	{% endfor %}

      </tbody>
    </table>
  </body>
</html>
